In [2]:
import rasterio
from rasterio.mask import mask
from rasterio.plot import show
import geopandas as gpd
import numpy as np
from shapely.geometry import mapping
import matplotlib.pyplot as plt
import os
import glob
import earthpy.spatial as es
from rasterio.plot import reshape_as_raster, reshape_as_image
from sklearn.cluster import KMeans
from shapely.geometry import mapping
from sklearn.ensemble import RandomForestClassifier
import pandas as pd
from rasterio.plot import show
from rasterio.plot import show_hist
from rasterio.windows import Window
from rasterio.plot import reshape_as_raster, reshape_as_image
import pandas as pd

In [3]:
import re
import os
import numpy as np
import matplotlib.pyplot as plt
import rasterio 
from rasterio.plot import show
import earthpy.spatial as es
import earthpy.plot as ep

In [4]:
#Load the field data 
#import geopandas as gpd
DeadTreesPoly = gpd.read_file('../Data/Dead_trees_polygon.shp')

#show attribute table 
#field_data
DeadTrees = pd.read_csv('../Data/Lat_Lon_DeadTrees.csv')

#index_as_series = pd.Series (index)
DeadTrees
#DeadTreesPoly

    Unnamed: 0 plot_ID       Lat        Lon
0            1   F2P11  9.573051  49.830551
1            2   F2P12  9.573401  49.830004
2            3   F2P13  9.573192  49.829929
3            4   F2P14  9.572631  49.830070
4            5   F2P15  9.572656  49.830122
5            6   F2P16  9.576121  49.829699
6            7   F2P17  9.575951  49.829685
7            8   F2P18  9.575678  49.829788
8            9   F2P21  9.584586  49.811780
9           10   F2P22  9.584992  49.811426
10          11   F2P23  9.586410  49.810850

In [5]:
point_names = DeadTrees.plot_ID
index =  [*range(len(point_names))]
point_names
index_as_series = pd.Series (index)
index_as_series
lat_lon_with_index = pd.concat([index_as_series,point_names], axis=1)
lat_lon_with_index.columns = ['index','plot_ID']
lat_lon_with_index

    index plot_ID
0       0   F2P11
1       1   F2P12
2       2   F2P13
3       3   F2P14
4       4   F2P15
5       5   F2P16
6       6   F2P17
7       7   F2P18
8       8   F2P21
9       9   F2P22
10     10   F2P23

In [6]:
DeadTreesPoly
DeadTreesPoly = pd.concat([index_as_series,DeadTreesPoly.iloc[:, 1]], axis=1)
DeadTreesPoly.columns = ['index','geometry']
DeadTreesPoly

    index                                           geometry
0       0  POLYGON ((1065656.217 6416992.818, 1065678.217...
1       1  POLYGON ((1065695.126 6416898.433, 1065717.126...
2       2  POLYGON ((1065671.848 6416885.398, 1065693.848...
3       3  POLYGON ((1065609.450 6416909.853, 1065631.450...
4       4  POLYGON ((1065612.223 6416918.750, 1065634.223...
5       5  POLYGON ((1065997.938 6416845.778, 1066019.938...
6       6  POLYGON ((1065978.953 6416843.406, 1066000.953...
7       7  POLYGON ((1065948.558 6416861.055, 1065970.558...
8       8  POLYGON ((1066940.227 6413753.951, 1066962.227...
9       9  POLYGON ((1066985.453 6413692.923, 1067007.453...
10     10  POLYGON ((1067143.334 6413593.584, 1067165.334...

In [7]:
new_coord_df = pd.merge(lat_lon_with_index, DeadTreesPoly, on="index")
new_coord_df

    index plot_ID                                           geometry
0       0   F2P11  POLYGON ((1065656.217 6416992.818, 1065678.217...
1       1   F2P12  POLYGON ((1065695.126 6416898.433, 1065717.126...
2       2   F2P13  POLYGON ((1065671.848 6416885.398, 1065693.848...
3       3   F2P14  POLYGON ((1065609.450 6416909.853, 1065631.450...
4       4   F2P15  POLYGON ((1065612.223 6416918.750, 1065634.223...
5       5   F2P16  POLYGON ((1065997.938 6416845.778, 1066019.938...
6       6   F2P17  POLYGON ((1065978.953 6416843.406, 1066000.953...
7       7   F2P18  POLYGON ((1065948.558 6416861.055, 1065970.558...
8       8   F2P21  POLYGON ((1066940.227 6413753.951, 1066962.227...
9       9   F2P22  POLYGON ((1066985.453 6413692.923, 1067007.453...
10     10   F2P23  POLYGON ((1067143.334 6413593.584, 1067165.334...